@import url(./layout/normalize.css);
@import url(./layout/base.css);

@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/menu.css);
@import url(./blocks/contacts.css);
@import url(./blocks/hello.css);
@import url(./blocks/title.css);
@import url(./blocks/button.css);
@import url(./blocks/offers.css);
@import url(./blocks/news.css);
@import url(./blocks/pages.css);
@import url(./blocks/about.css);
@import url(./blocks/footer.css);
@import url(./blocks/socials.css);
/*Услуги*/
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/services.css);
@import url(./blocks/partners.css);