/* Setting */
body{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    color: #fff;
    margin: 0 auto;
    width: 1920px;
}

*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Шапка */
.header{
    position: relative;
}
.header-img{
    background:url(./img/1.jpg) no-repeat;
    position:absolute;
    z-index: -1;
}

.container{
    max-width: 1141px;
    margin: 0 auto;
}

.header__container{
    height: 123px;
    padding-top: 26px;
}

.logo{
    display: inline-block;
    float: left;
    margin-right: 79px;
}

.menu{
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42;
}

.menu__list{
    padding: 0px;
    margin: 0;
}

.menu__item{
    display: inline-block;
    margin-right: 54px;
}

.menu__item:last-child{
    margin-right: 0px;
}

.menu__item:hover{
    color:#DA0100
}

.contact{
    display: inline-block;
    float: right;
}

.contact__phone{
    font-size: 26px;
    line-height: 1.42;
}

.contact__workhours{
    margin-left: 92px;
    font-size: 13px;
    line-height: 1.42;
    text-decoration: underline;
}

/* Main content */
/* Hello */

h1,h2{
    margin: 0px;
}

.hello{
    padding-top: 46px; 
}

.hello__title{
    max-width: 511px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.36;
    margin-bottom: 27px;
}

.hello__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 51px;
}

.button{
    display: inline-block;
    padding:18px 40px 18px 40px;
    background: #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}



.button:hover{
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    border-radius: 35px;
}
/* Горящие туры */
.offers{
    margin-top: 264px;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.36;
}

.title--icon{
    background:url(/img/flame.png) no-repeat;
    background-position: 280px center;
}

.offers__list{
    margin-top: 51px;
    padding: 0;
}

.offers__item{
    margin-right: 22px;
    display: inline-block;
    width: 362px;
}

.offers__item:nth-child(3n){
    margin-right: 0px;
}

.offers__description{
    margin-top: -3px;
    background: #FFFFFF;
    padding-left: 22px;
    padding-bottom: 44px;
}
/* Название тура */
h5.offer__title{
    margin: 0;
}

.offer__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.37;
    color:#000000;
    padding-top: 33px;
}
/* Условия тура */
.offer__subtitle{
    margin-top: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37; 
    color: #666666;
}

.offer__subtitle-description{
    display: inline-block;
    margin-right: 28px;
}

.offer__subtitile-icon{
    display: inline-block;
    vertical-align: bottom;
    padding-right: 10px;
}

.offer__subtitle-text{
    display: inline-block;
}
/* Описание тура */
.offer__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #303030;
    margin-top: 23px;
    margin-bottom: 0px;
}
/* Кнопка Смотреть */
.button--color{
    margin-top: 24px;
    padding: 18px 30px;
    background:#FFFFFF;
    color: #F5170E;
    border-color: black;
    border:1px solid #F5170E;
}

.button--color:hover{
    background:#F5170E;
    color: #FFFFFF;
}

/* Новости и акции */

.news{
    margin-top: 127px;
}

.promotions{
    padding: 0;
    margin-top: 51px;
    
}

.promotion{
    position: relative;
    display: inline-block;
    max-width: 557px;
    vertical-align: top;
    max-height: 394px;
    margin-right: 22px;
}

.promotion:last-child{
    margin-right: 0px;
}

.promotion__description{
    position: absolute;
    top: 252px;
    left: 31px;
}

.promotion__date{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.promotion__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    margin: 0px 0px 2px 0px;
}

.promotion__subtitle{
    margin: 0;
}

/* Страницы 1 из 7 */

.pages{
    margin-top: 57px;
    text-align: center;
}

.pages__info{
    display: inline-block;
    margin-right: 25px;
}

.pages__list{
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.pages__item{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.pages__item:last-child{
    margin-right: 0;
}

.pages__number:hover{
    cursor: pointer;
    margin-right: 0;
    background:#FFFFFF;
    color:#F5170E;
    border-radius: 50%;
    padding: 5px 10px; 
    overflow: hidden;
}

/* О нас */

.about{
    margin-top: 151px;
    position: relative;
}

.about__background{
    position: absolute;
    bottom: -95px;
    z-index: -1;
}

.about__content{
    position: absolute;
    top:97px;
    right: 381px;
    width: 785px;
    height: 455px;
    background: url(./img/mountains.png) no-repeat;
    padding: 81px 0px 0px 70px;
}

.title__color{
    color:#000000;
}

.about__content-subtitle{
    line-height: 1.68;
    width: 502px;
    color:#060606;
    margin: 37px 0px 61px 0px;
}

/* Footer */

.footer{
    margin-top: 95px;
}

.footer__container{
    border-top: 1px solid rgba(255, 255, 255, .1);
    height: 123px;
    padding-top: 39px;
}


.social-networks{
    margin-left: 274px;
    display: inline-block;
}

.social-network{
    padding: 0;
    margin: 0;
}

.social__item{
    display: inline-block;
    margin-right: 10px;
}

.social__item:last-child{
    margin-right: 0px;
}

.social__link{
    cursor: pointer;
}

.contact__workhours--footer{
    text-decoration: none;
    margin-left: 0;
}

.contact__phone-footer{
    font-size: 26px;
    line-height: 1.42;
    float: right;
}













































