/* Hello */
.hello{
    padding-top: 46px; 
}

.hello__title{
    max-width: 511px;
    min-height: 97px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.36;
    margin-bottom: 27px;
}

.hello__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33px;
}

