/* Страницы 1 из 7 */
.pages{
    margin-top: 57px;
    display: flex;
    justify-content: center;

}

.pages__info{
    margin-right: 25px;
}

.pages__list{
    display: flex;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.pages__item{
    text-align: center;
    width: 32px;
    height: 32px;
}

.pages__item:last-child{
    margin-right: 0;
}

.pages__number:hover{
    cursor: pointer;
    margin-right: 0;
    background:#FFFFFF;
    color:#F5170E;
    border-radius: 50%;
    padding: 5px 10px; 
    overflow: hidden;
}

.pages__number--services:hover{
    background:#F5170E;
    color: #FFFFFF;
}

.pages__services--color{
    color:#000000;
    padding-bottom: 91px;
}