.partners{
    background:#F4F5F5;
}

.partners__title{
    margin: 0;
    padding-top: 88px;
    color: #1A1B1E;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.35;
    margin-bottom: 99px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 117px;
}

.partners__link{
    display: flex;
    width:230px;
    height: 100px;
    align-items: center;
    justify-content: center;
}