html, body {
    height: 100%;
}

body{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    color: #fff;
    width: 1920px;
    margin: 0 auto;  
}

.wrapper--main{
    background:url(../../img/1.jpg) center top no-repeat;
}

.wrapper--service{
    background:#FFFFFF url(../../img/headline.png) center top no-repeat;
}

*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

h1,h2{
    margin: 0px;
}

.container{
    width: 1141px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}






