/* О нас */
.about{
    margin-top: 151px;
    position: relative;
}

.about__background{
    position: absolute;
    bottom: -95px;
    z-index: -1;
}

.about-container{
    position: relative;
}

.about__content{
    position: absolute;
    top:97px;
    right: 0px;
    width: 785px;
    height: 455px;
    background: url(../../img/mountains.png) no-repeat;
    padding: 81px 0px 0px 70px;
}

.title__color{
    color:#000000;
}

.about__content-subtitle{
    line-height: 1.68;
    width: 502px;
    color:#060606;
    margin: 37px 0px 61px 0px;
}