.bottom-section{
    background: #F4F5F5;
}

.bottom-section__title{
    padding-top: 62px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #1A1B1E;
}

.form{
    margin-top: 57px;
}

.form__row{
    display: flex;
}

.form__row--textarea{
    margin-top: 26px;
    resize: none;
    height: 235px;
}

.form__input{
    border: none;
    padding: 20px 30px;
    background: #FFFFFF;
    border-radius: 5px;
    flex: 1;
    margin-right: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__controls{
    margin-top: 34px;
    display: flex;
    align-items: baseline;
}

.form__controls-title{
    width: 40%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
}

.controls{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.controls__item{
    margin-right: 7px;
    margin-bottom: 9px;
}

.controls__elem{
    cursor: pointer;
}

.controls__tag{
    display: inline-flex;
    padding: 9px 15px;
    background: #E7E7E7;
    border-radius: 35px;
    color:#303030;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.controls__checkbox:checked ~ .controls__tag{
    background: #B9EAE4;
}

.controls__checkbox{
    display: none;
}

input:focus{    
    outline: none;
    border: 1px solid red;
}

textarea:focus{
    outline: none;
    border: 1px solid red;
}

.form__button{
    margin-top: 32px;
    padding-bottom: 96px;
    display: flex;
    justify-content: flex-end;
}
