.breadcrumbs{
    margin-top: 103px;
}

.breadcrumbs__list{
    display: flex;
}

.breadcrumbs__item{
    display: flex;
    text-decoration: underline;
}

.breadcrumbs__link{
    font-size: 14px;
    font-weight:400;
    line-height: 1.35;
    color:#9A9A9A;
}

.breadcrumbs__item--active .breadcrumbs__link{
    font-weight: 700;
}

.breadcrumbs__item:after{
    content:"/";
    text-decoration: none;
    color: #9a9a9a;
}

.breadcrumbs__item:last-child::after{
    display: none;
}