.button{
    display: inline-flex;
    padding:18px 40px 18px 40px;
    background: #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.button:hover{
    transition: 1s;
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    border-radius: 35px;
}

.offer__wrapper--button{
    margin-top: auto;
}

.button--color{
    margin-top: 24px;
    padding: 18px 30px;
    background:#FFFFFF;
    color: #F5170E;
    border-color: black;
    border:1px solid #F5170E;
}

.button--color:hover{
    transition: 1s;
    background:#F5170E;
    color: #FFFFFF;
}

.button__services--style{
    margin: 0;
    padding: 18px 40px;
}

button.button{
    border: none;
    color:#FFFFFF;
}

.button--black{
    background: #8E8E8E;
    margin-right: 17px;
}

.button--black:hover{
    background: #2B2B2B;
}