.contact__dropdown{
    position: relative;
    margin-left: auto;
}

.dropdown__link{
    font-size: 13px;
    line-height: 1.42;
    text-decoration: underline;
}

.dropdown__menu{
    margin-top: 10px;
    position: absolute;
    background: #EDEDED;
    border-radius: 5px;
    width: 160px;
    height: 70px;
    top: 100%;
    right: 0%;
    right: -99999px;
    opacity: 0;
}

.dropdown__menu::before{
    content: "";
    display: block;
    height: 24px;
    right: 0;
    left: 0;
    top: -20px;
    position: absolute;
}

.triangle{
    border: 12px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #EDEDED;
    position: absolute;
    top: -34%;
    left: 60%;
}

.dropdown__list{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__dropdown:hover .dropdown__menu{
    transition: opacity .5s;
    right: 0;
    opacity: 1;
}

.dropdown__item{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}