.footer{
    margin-top: 95px;
}

.footer__container{
    border-top: 1px solid rgba(255, 255, 255, .1);
    min-height: 123px;
    padding-top: 46px;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer--services{
    margin: 0;
    background:#001821;
}