/* Новости и акции */

.news{
    margin-top: 127px;
}

.promotions{
    padding: 0;
    margin-top: 51px;
    display: flex;
}

.promotion{
    overflow: hidden;
    position: relative;
    margin-right: 27px;
}

.promotion:last-child{
    margin-right: 0px;
}

.promotion__description{
    position: absolute;
    bottom: 12%;
    left: 5%;
}

.promotion__date{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.promotion__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    margin: 0px 0px 2px 0px;
}

.promotion__subtitle{
    margin: 0;
}