/* Горящие туры */
.offers{
    margin-top: 264px;
}

.title--icon{
    background:url(../../img/flame.png) no-repeat;
    background-position: 280px center;
}

.offers__list{
    display: flex;
    min-height: 449px;
    justify-content: space-between;
    padding: 0;
}

.offers__item{
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    width: calc(100%/3 - 18px)
}

.offers__description{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    padding: 33px 16px 26px 22px;
}
/* Название тура */
h5.offer__title{
    margin: 0;
}

.offer__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.37;
    color:#000000;
}
/* Условия тура */
.offer__subtitle{
    display: flex;
    margin-top: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37; 
    color: #666666;
}

.offer__subtitle-description{
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.offer__subtitile-icon{
    padding-right: 10px;
}
/* Описание тура */
.offer__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #303030;
    margin-top: 23px;
    margin-bottom: 0px;
}
/* Кнопка Смотреть */


