p{
    margin: 0;
}

.reviews{
    column-count: 2;
    column-gap: 27px;
}

.review__item{
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 17px;
    padding: 50px 28px;
    background:#F4F5F5;
}

.review__item-header{
    display: flex;
    align-items: center;
}

.review__picture{
    margin-right: 20px;
}

.review__user{
    text-decoration: underline;
    display: flex;
    color:#2E77A4;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    align-items: center;
}

.review__user:after{
    content:url(../../img/vk-blue.png);
    height: 30px;
    margin-left: 12px;
    display: flex;
}

.review__tag-item{
    margin-top: 3px;
    display: inline-flex;
    padding: 9px 17px;
    background: #B9EAE4;
    border-radius: 35px;
    color:#303030;
}

.review__title{
    margin-top: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color:#1A1B1E;
}

.review__description{
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color:#818181;
}

.review__date{
    margin-top: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color:#1A1B1E;
}
