.services{
    margin-top: 121px;
}

.services__list{
    display: flex;
    flex-direction: column;
}

.services__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}

.services__item:last-child{
    margin-bottom: 0px;
}

.services__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 652px;
}

.services__title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.42;
    color: #000000;
    margin: 0;
}

.services__description{
    font-weight: normal;
    color: #303030;
    margin: 0;
    font-size: 16px;
    line-height: 1.68;
}



