.welcome-main{
    display: flex;
    justify-content: center;
}

.welcome__content{
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: Pulse 1s;
}

.welcome__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.welcome__button--color{
    padding: 18px 58px;
}

@keyframes Pulse{
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

